name: 12 - Working with Outputs
on:
  workflow_dispatch:
    inputs:
      build-status:
        type: choice
        options:
          - success
          - failure
        default: success

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Print GITHUB_OUTPUT path
        run: echo "GITHUB_OUTPUT is $GITHUB_OUTPUT"
      - name: Build
        id: build
        run: echo "status=${{ github.event.inputs['build-status'] }}" >> $GITHUB_OUTPUT
    outputs:
      build-status: ${{ steps.build.outputs.status }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.build-status == 'success' }}
    steps:
      - name: Deploy
        run: echo "Deploying with status ${{ needs.build.outputs.build-status }}"